<nav>
  <li>
    <LinkTo @route="index">Home</LinkTo>
  </li>
  <li>
    <LinkTo @route="clothes">Clothes</LinkTo>
  </li>
  <li>
    <LinkTo @route="item" @model="1">Product 1</LinkTo>
  </li>
  <li>
    <LinkTo @route="item" @model="2">Product 2</LinkTo>
  </li>
</nav>