{{page-title "GMSK"}}

{{! The following component displays Ember's default welcome message. }}
{{! <WelcomePage /> }}
{{! Feel free to remove this! }}
<h1>Hello world from ember js!</h1>
<LayoutContainer />
{{outlet}}